.phone-input-container {
  border: 1px solid #d9d9d9cc;
  border-radius: 12px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.phone-input-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    background-color: red;
  }
}

.phone-input-dropdown {
  border: 1px solid #d9d9d9cc;
  border-radius: 12px;
  background-color: white;
  color: black;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    border-color: transparent;
    background-color: white;
  }
}
